html {
    font-size: 1.50rem;
    background-color: var(--BackgroundGreenColor);
    color: var(--BodyGreenColor);
}

:root {
    /* Colors */
    --BackgroundGreenColor: seagreen;
    --HeaderGreenColor: #4f5f0a;
    --SecondaryGreenColor: #739122;
    --BodyGreenColor: #2a3305;
    /* Fonts */
    --PopupText: 1.25rem;
    --Headers: 2rem;
    --Body: 1.50rem;
}

img {
    width: 100%;
}

h1 {
    font-size: var(--Headers);
}

.HeaderBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(./assets/Header/Desktop/Peas.jpg);
    height: 300px;

}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

/* trying pop up */
/* Popup container */
.Popup {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.Popup .PopupText {
    visibility: hidden;
    width: fit-content;
    text-align: left;
    position: absolute;
    z-index: 1;

    background-color: var(--SecondaryGreenColor);
    color: var(--BodyGreenColor);
    font-size: var(--PopupText);

}

/* Popup arrow */
.Popup .PopupText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.Popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}